body {
    margin: 0;
     background:rgba(244, 244, 244, 1);
}
#header{
    background:rgba(105, 67, 255, 1);
    text-align: center;
    color:rgba(255, 255, 255, 1);
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
input{
    background:rgba(105, 67, 255, 1);
    color:rgba(255, 255, 255, 1);
    border: 1px solid rgba(244, 244, 244, 1);
    border-radius:5px;
    padding:10px 20px;
    font-weight: 900;
    font-size: 30px;
    width:78px;
    text-align: center;
    margin-bottom: 20px;
}
button{
    background:rgba(255, 255, 255, 1);
    border: 1px solid rgba(61, 61, 61, 1);
    border-radius: 5px;
    padding:5px 10px;
}
#content{
   display: flex;
   flex-direction: column;
   margin: 10px;
   text-align: center;
    
}
.length,.volume,.mass{
    background:rgba(255, 255, 255, 1);
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
    padding:10px 20px
}
h3{
    color:rgba(90, 83, 123, 1);
}